/* Add CSS Styling */
.odd{
    background-color: #ffc0cb;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
.varpxsize{
    font-size: 24px;
}
#bigbluey{
    color:#0000ff;
    font-size:36px;
}
#twofourgreen{
    background-color:#90ee90;
    font-size:24px;
    font-weight:bold;
}